body {
    background-color:#white;
    margin: 0;
    padding: 0;
}
.container{
   top: 25px;
    left: 0;
    width: 100%;
    position: relative;
    background-color: white;
    font-family: ARIAL BLACK;
    font-size: 20px;
}
ul li {
    display: inline-block;
    margin-right: 40px;
    list-style: none;
}
ul li a{
    text-decoration: none;
    padding: 25px 10px;
    color: black;
}
ul li:hover{
    transform: scale(1.8)
}
.nazvanie{
position: relative;
background-color:#800000 ;
width:100% ;height:100px ;
top: -20px;
font-family: lucida;
color: white;
}
 .slide {
        width: 100px;
        height: 280px;
        border: 1px solid #888;
        position: relative;
        text-align: center;
    }
	.slide  input {
        display: none;
    }

    .slide  input + label {
        display: inline-block;
        width: 100px;
        height: 10px;
        border-radius: 8px;
        background: rgba(90, 90, 90, 0.8);
        border: 2px solid rgba(190, 190, 190, 0.8);
        left: 700px;
        top: -400px;

        cursor: pointer;

        z-index: 100;
        position: relative;

        margin-right: 4px;
        top: 90%;

        transition: background 0.8s ease-out 0s;
    }

    .slide  input + label:hover {
        background: rgba(250, 250, 250, 0.8);
    }

    .slide  input:checked + label {
        background: rgba(220, 220, 220, 0.8);
    }
	
    .slide  div {
        position: absolute;
        top: 50px;
        left: 700px;
        right: 10px;
        bottom: 0px;
        z-index: 0;
    }
	
    .slide  div {
        visibility: hidden;
        opacity: 0;
        transition: opacity 0.8s ease-out 0.1s, visibility 0.1s ease-out 0.9s;
    }

    img {
        width:500px;
		height:300px;
    }
	
    .slide  input:checked + label + div {
        visibility: visible;
        opacity: 1;
        transition: opacity 0.8s ease-out 0.1s, visibility 0.1s ease-out 0s;
    }
	
    .slide  div  p {
        position: absolute;
		font-size:18px;
        top: 1px;
        left: 700px;
        right: 10px;
        text-align: center;
        color: #fff;
        text-shadow: 2px 2px 3px #222;
    }